/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
.title {
  height: 150px;
  color: #fff;
  font-size: 20pt;
  font-weight: 600;
  text-align: center;
  line-height: 100px;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/section_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.input-radio {
  margin-right: 5px;
}
.radio-text {
  padding-right: 15px;
  display: inline-block;
}
.user-table td {
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}
.user-table td:nth-child(1) {
  background-color: #f2f2f2;
}
.required {
  color: red;
}
#consent, #hint {
  font-size: 12px;
  color: #545454;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .title {
    height: 180px;
    font-size: 24pt;
    line-height: 130px;
  }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .title {
    height: 220px;
    font-size: 28pt;
    line-height: 170px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .title {
    height: 260px;
    font-size: 32pt;
    line-height: 210px;
  }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .title {
    height: 300px;
    font-size: 36pt;
    line-height: 250px;
  }
 }