/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: #a8a8a8 solid 1px;
  font-size: 11pt;
  color: black;
  font-weight: 500;
}
.navbar-nav {
  width: 100%;
}
.dropdown-toggle:after {
  content: none; /* To remove dropdown caret */
}
#collasible-nav-dropdown, .nav-link {
  color: black !important;
}
.dropdown-item {
  font-size: 10pt;
}
.dropdown-item:hover {
  color: #296066;
  background-color: rgb(250, 250, 250);
  font-weight: 700;
}
.navbar-text { 
  color: #296066 !important; 
  font-weight: 800;
} 
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .navbar {
    font-size: 13pt;
    font-weight: 600;
  }
  .nav-item {
    width: 14%;
  }
  .nav-link {
    width: 16%;
  }
  .navbar-text { 
    text-align: end;
    padding: 0;
    width: 27%;
  } 
  .dropdown-menu {
    /* top: 168%; */
    text-align: center;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom: #a8a8a8 solid 1px;
    padding: 4px 0;
    left: -40px;
  }
  .dropdown-item {
    font-size: 11pt;
  }
  .dropdown-item:hover {
    color: #296066;
  }
  .dropdown-top {
    margin-top: 20px;
    border-top: #296066 solid 4px;
    padding-top: 5%;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .navbar-nav {
    text-align: center;
    text-align: -webkit-center;
  }
  .dropdown-menu {
    left: 22px;
  }
}
